/*Limapar formatações padrão*/
*{
    margin: 0;
    padding:0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/*
****Layout ****
Aqui iremos colocar toda a formatação relativa ao layout
*/

#area-cabecalho{
    background-color: #f7b600;
}